*{
    margin: 0;
    padding: 0;
}
.bg1{
    background-image: url("img/bg1.webp");
    height: 500px;

}
.bg1 h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 150px;
}
.bg1 p{
    color: white;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    padding-bottom: 150px;
}
.section2{
   padding-top: 100px;
    padding-bottom: 100px;
}
.section2 h3{
    color: #0055D4;
}
.section2 p{
    color: gray;
}
.section3 h2{
    color: #0055D4;
    font-weight: 700;
    font-size: 40px;
}
.section3 p{
    color: gray;
    font-size: 20px;
}
.section3 a{
    font-size: 25px;
    border-radius: 40px;
    background-color: #00c187;
    font-weight: 600;
    padding: 21px 80px;
    border: 0;
}
.bg4{
    background-color: #0055D4;
    padding: 60px 0;
    color: white;
    
}
.bg4 h2, h4 {
    font-size: 70px;
    text-align: center;
    font-weight: 700;
   

}
.bg4 h4{
    font-size: 28px;
    font-weight: 500;
}
.section5{
    padding: 50px 30px;
}
.section5 h2{
    font-size: 35px;
    color: #0055d4;
    font-weight: 600;
}
.section5 h4{
    color: #0055d4;
}
.section5 p{
    color: gray;
    font-size: 20px;
}
.slider{
    background-image: url("img/slider.webp");
    background-size: cover;
    height: 800px;
}
.slider h2{
    font-size: 35px;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 700;
}
.testimonial{
    background-color: white;
    height: fit-content;
    opacity: 0.8;
}
.testimonial{
    padding-top: 50px;
    padding-bottom: 50px;
}
.contactus{
    padding-top: 150px;
    padding-bottom: 150px;
}
.contactus h2{
   font-size: 30px;
   color: #0055D4;
   font-weight: 700;
}
.subbtn{
    background-color: #00c187;
    border-radius: 40px;
    font-size: 20px;
}
.sub a{
    font-size: 25px;
    border-radius: 40px;
    background-color: #00c187;
    font-weight: 600;
    padding: 10px 30px;
    border: 0;
}
    